.header {
  border-bottom: 1px solid #eee;
}

.nav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.2s linear;
    &:hover {
    color: #333;
  }
}

.active {
  text-decoration: none;
  color: #111;
  font-weight: 600;
}